// Colors
$bgColor: #263238;
$navColor: #37474f;
$white: #eceff1;
$black: #212121;

body{
    background-color: $bgColor;
    color: $white;
}

h1{
    text-align: center;
}

#searchField{
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 35px;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-gap: 10px;
}

.one{
    background-color: #ddd;
    grid-column: 1/3;
    grid-row: 1;
}

.two{
    background-color: #dd3;
    -ms-grid-column: 2 / 4;
    -ms-grid-row: 1 / 3;
}
footer{
    background-color: $navColor;
    text-align: center;
}
