// Colors
$bgColor: #263238;
$navColor: #37474f;
$white: #eceff1;
$black: #212121;

body{
    background-color: $bgColor;
}

h1{
    text-align: center;
}

#searchField{
    display: block;
    margin: auto;
    width: 50%;
    padding-bottom: 35px;
}

#jumbo{
  background: $navColor;
}
