// Colors
$bgColor: #ccc;
$navColor: #F8F8F8;

body{
    background-color: $bgColor;
}

h1{
    text-align: center;
}

footer{
    text-align: center;
    margin: 35px 25px;
    background-color: $navColor;
}