<div ng-controller="HomeCtrl">
    <h1 class="title">Home Partial Loaded</h1>
    <div class="wrapper">
        <p class="one">Commodo laboris irure sit quis. Exercitation ullamco eiusmod ad nisi id. Incididunt incididunt laboris est consequat officia. Irure veniam voluptate tempor ut incididunt velit ullamco excepteur adipisicing deserunt. Duis voluptate voluptate ullamco aliqua ea sint in reprehenderit. Enim ipsum ea commodo commodo reprehenderit sint excepteur ea. Mollit ex irure elit qui laborum id.</p>

        <p class="two">Occaecat labore nostrud Lorem id cillum voluptate dolore incididunt nostrud exercitation cillum ut.
        </p>
    </div>
</div>

<h1>Your WatchList</h1>

