
<nav ng-controller="NavCtrl" class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="name" class="navbar-brand" href="#!/main">WatchList</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a ng-href="#!/main">Home</a></li>
        <li><a ng-href="#!/home">My List</a></li>
        <li><a ng-href="#!/profile">My Profile</a></li>
        <li><a ng-href="#!/auth" ng-show="!isLoggedIn">Login</a></li>
        <li><a ng-click="logout()" ng-show="isLoggedIn" ng-href="#!/auth">Log Out</a></a>
        </li>
      </ul>
    </div>
  </div>
</nav>